body {
    margin-left: 0;
    margin-right: 0;
}

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-container {
    font-size: 2vw;
    margin-left: 6vw;
}

.name-container__input {
    color: orangered;
}

.name-container__button {
    border: 2px solid orangered;
    font-size: 1.8vw;
    background-color: #fff;
    cursor: pointer;
    padding: 1vw 1.5vw;
}

.name-container__button:hover {
    background-color: orangered;
    color: white;
    transition: 1s;
    transform: scale(1.1);
}

.about-container {
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    color: #fff;
    background-color: rgba(255, 68, 0, .55);
    padding: 1vw 5vw 3vw 5vw;
    border-radius: 10px;
}

.about-container__title {
    font-size: 4vw;
}

.about-container__flex {
    display: flex;
    justify-content: space-around;
}

.about-container__image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about-container__input {
    font-size: 2.5vw;
}

.about-container__button {
    border: 3px solid #fff;
    font-size: 1.8vw;
    background-color: rgba(255, 68, 0, .7);
    cursor: pointer;
    color: #fff;
    padding: 1vw 1.5vw;
    text-decoration: none;
}

.about-container__button:hover {
    transition: 1.5s;
    left: 0;
    background-color: #fff;
    border-color: 2px solid rgba(255, 68, 0, .7);
    color:rgba(255, 68, 0, .7);
}

.projects-container {
    text-align: center;
    height: 50vh;
    font-size: 2vw;
}

.project-container__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    margin-bottom: 5vw;
}

.see-live-button {
    border: 3px solid #fff;
    font-size: 1.8vw;
    cursor: pointer;
    color: rgba(255, 68, 0, .7);
    border: 2px solid rgba(255, 68, 0, .7);
    padding: 1vw 1.5vw;
    text-decoration: none;
}

.see-live-button:hover {
    transition: 1.5s;
    left: 0;
    background-color: rgba(255, 68, 0, .7);
    border-color: 2px solid rgba(255, 68, 0, .7);
    color: #fff;
}

.source-code-button {
    text-decoration: none;
    color: rgba(255, 68, 0, .7);
    margin-left: 2vw;
}

.source-code-button:hover {
    color: orangered;
    display: inline-block;
    transform: scale(1.1);
    transition: 1s;
}

.project-title {
    border-bottom: 3px solid rgba(255, 68, 0, .7);
}

.project-input-container {
    flex: 50vw;
}

.project-image {
    width: 50vw;
    flex: 50%;
}
