.footer-container {
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logos-container {
    border-bottom: 1px solid #fff;
    padding-bottom: 2vw;
    padding-left: 3.5vw;
    padding-right: 5vw;
}

.footer-image {
    width: 50px;
    margin-left: 2vw;
}